#rateChart {
  list-style: none;
  display: inline-flex;
  align-items: center;
  padding: 1em 0 1em 0;

  .outer-ring {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 5px;
    background-color: #081c22;
  }

  .chart {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0; 
  }

  .text {
    margin-left: 1em;
    margin-top: 1em;
    
    [dir=rtl] & {
        margin-right: 1em;
    }

    .userScore {
      font-weight: 700;
    }
  }
}
