@import './../modules/app/_app.scss';
@import './../modules/components/player/_player.scss';
@import './../modules/components/movie-info/_movie-info.scss';
@import './../modules/components/rate-chart/_rate-chart.scss';

body {
  margin: 0 auto;
  background-color: black;
  color: white;
}