#movieInfoContainer {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    z-index: 1;
    padding: 2em;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        opacity: .6;
        z-index: -1;
    }

    .content {
        z-index: 1;
        .img-rounded {
            box-shadow: 2px 2px 10px -1px black;
        }
        .label {
            font-size: 1em;
        }
        .prop {
            background-color: yellowgreen;
        }
        .genre {
            background-color: #4e008e;
        }
        .country {
            background-color: #ce0056;
        }
        .overview {
            margin-top: 1em;
        }
    }
}